<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>dieKlingel</string>
	<key>CFBundleIdentifier</key>
	<string>com.dieklingel.app</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>dieKlingel</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.dieklingel.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dieklingel</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>dein Mikrofon wird benötigt, um mit der Gegeseite kommunizieren zu könnnen</string>
	<key>NSCameraUsageDescription</key>
	<string>deinen Kamera wird benötigt, um mit der Gegenseite kommunizieren zu können</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
</dict>
</plist>
